body{
    
}

.topo{
    border-radius: 15px;
    box-shadow: 1px 1px 20px white;
    align-content: center;

}

.text-principal{
    background-image: url(images.jpeg);
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900px;
}

                                                            /*meio*/


    .imagem{
        border-radius: 15px;
    }
